:root {
    --main-font: "Pretendard";
  
    // --mainBg-color: #f3ede8;
    // --subBg100: #cdc0b1;
    // --subBg200: #afa395;
    // --subBg300: #81887c;
    // --subBg400: #afa7a2;
    // --subBg500: #a6afa2;
  
    --white: #F7F7F7;
    --black: #131313;
    --black100: #2b2b2b;
    --black200: #434343;
    --black300: #686868;
    --black400: #e0e0e0;
    --gray: #eaeaea;
    --gray100: #ececec;
    --blue: #1C46F5;
    --green: #6fff69;
  
    // @media (max-width: 800px) {
    //     font-size: 14px;
    //     line-height: 1.4;
    // }
}
