
.curveLoader{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 101;

    svg, .background{
        width: 100vw;
        height: calc(100vh + 100vh);
        position: absolute;
        transform: translateY(-30rem);
        left:0;
        //fill:var(--black);
    }

    .background{
        background-color: var(--gray);
    }

    .route{
        margin: auto;
        font-size: 8rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.05em;
        color: var(--blue);
        z-index: 3;
    } 
}